{% extends 'base.html.twig' %}
{% form_theme formArticle 'bootstrap_4_layout.html.twig' %}
{% block body %}

    <h1>
    {% if editMode %}
        Modifier l'article
    {% else %}
        Ajout d'un article
    {% endif %}
    </h1>

    {{ form_start(formArticle) }}

    {{ form_row(formArticle.name, {'attr': {'placeholder': "Nom de l'article"}}) }}
    {{ form_row(formArticle.stock) }}
    {{ form_row(formArticle.description, {'attr': {'placeholder': "Description de l'article"}}) }}
    {{ form_row(formArticle.price, {'attr': {'placeholder': "Prix de l'article"}}) }}

    <button type="submit" class="btn btn-success">
        {% if editMode %}
        Modifier
        {% else %}
        Ajouter l'article
        {% endif %}
    </button>

    {{ form_end(formArticle) }}



{% endblock %}