{% extends 'base.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block body %}
    <a href="{{ path('article_search')}}" class="btn btn-primary">Recherche par nom</a>
    <a href="{{ path('article_searchId')}}" class="btn btn-primary">Recherche par identifiant</a>
    <a href="{{ path('search_price')}}" class="btn btn-primary">Recherche par prix</a>

    <section class="articles">
         {% for article in articles %}
            <article>
                <h2>{{ article.name }}</h2>
                    <p>{{ article.description }}</p>
                    <p>{{ article.price }}</p>
                    <a href="{{ path('article_edit', {'id':article.id}) }}" class="btn btn-primary">Selectionner</a>
                    <a href="{{ path('article_delete',{"id": article.id}) }}" class="btn btn-primary" onclick="return confirm('Attention ceci va supprimer l\'article')">Supprimer</a>
            </article>
        {% endfor %}
    </section>
{% endblock %}
